<%= session[:user_id] %>

<h1>Inicia sesión</h1>
<div>
  <%= simple_form_for :session, html: {novalidate: true}, url: session_path do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <div class="actions">
      <%= f.submit "Login" %>
    </div>
  <% end %>
</div>
