<div id="initiative-container">
  <div id="initiative-content">
    <h1><%= @ngo.name %>: <%= @initiative.title %></h1>
    <h2>#<%= @initiative.hashtag %></h2>
    <p id="initiative-description">
      <%= image_tag 'placeholder.gif' %><%= @initiative.description %>
    </p>
  </div>
  <aside id="signs-container">
    <%= render partial: 'signs' %>
  </aside>
</div>
