<h1>Registra una nueva cuenta</h1>
<p>Completa todos los campos del formulario</p>
<div>
  <%= simple_form_for @user, html: { novalidate: true } do |f| %>
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :password %>
    <div class="actions">
      <%= f.submit 'Registrar' %>
    </div>
  <% end %>
</div>
