<h1><%= t 'signup.create_new_account' %></h1>
<p><%= t 'signup.fill_entire_form' %></p>
<div>
  <%= simple_form_for @user, html: { novalidate: true } do |f| %>
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :password %>
    <div class="actions">
      <%= f.submit t('signup.signup') %>
    </div>
  <% end %>
</div>
