<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @initiative.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @initiative.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @initiative.image %>
</p>

<p>
  <strong>Active:</strong>
  <%= @initiative.active %>
</p>

<p>
  <strong>Hashtag:</strong>
  <%= @initiative.hashtag %>
</p>

<p>
  <strong>Ngo:</strong>
  <%= link_to @initiative.ngo.name, admin_ngo_path(@initiative.ngo) %>
</p>

<%= link_to 'Edit', edit_admin_initiative_path(@initiative) %> |
<%= link_to 'Back', admin_initiatives_path %>
