<!DOCTYPE html>
<html>
<head>
  <title>Initiatiweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if current_user %>
    Bienvenido, <%= current_user.first_name %>
    <%= link_to 'Salir', session_path, method: :delete %>
  <% else %>
    <%= link_to 'Ingresa', new_session_path %>
  <% end %>
</header>
<% if flash.notice %>
  <div class="notification">
    <%= flash.notice %>
  </div>
<% end %>
<% if flash.alert %>
  <div class="notification error">
    <%= flash.alert %>
  </div>
<% end %>
<div id="main-content">
  <%= yield %>
</div>

<footer>FOOTER</footer>

</body>
</html>
